/* GeographicalDistributionMap.css */

.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map-div {
  width: 80%;
  height: 500px;
  margin: 0 auto;
  position: relative;
}

.district-breakdown {
  width: 80%;
  margin-top: 20px;
}

.district-breakdown h3 {
  text-align: center;
  margin-bottom: 20px;
}

.back-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #0056b3;
}

.district-table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

.district-table th,
.district-table td {
  border: 1px solid black;
  padding: 12px;
}

.district-table th {
  background-color: black;
  text-align: left;
  font-weight: bold;
}

.district-table tr:nth-child(even) {
  background-color: transparent;
}

.district-table tr:hover {
  background-color: rgb(36, 52, 199);
}

.district-table tr:hover {
    color: white;
  }

.district-table td {
  text-align: left;
}

@media screen and (max-width: 768px) {
  .map-div,
  .district-breakdown {
    width: 95%;
  }

  .back-button {
    width: 100%;
    padding: 12px;
  }
}
